@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

body {
    margin:0px; 
    padding:0px;
    color: #000000;
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    
}

header {
    height: 360px;
    z-index: 10;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

nav {
    width: 100%;
    height: 60px;
    background: #000000;
    position: fixed;
    z-index: 10;
}

nav div {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
}

nav ul { 
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}

nav ul li { 
    display: inline-block; 
    line-height: 60px;
    margin-left: 100px;
}

nav ul li a {
    text-decoration: none; 
    color: #ffffff;
}

#portfolio {
    text-align: center ;
    margin-top: -200px ;
    font-weight: 500;
    font-size: 50px;
}

/* textAnim */

h2 {
    font-size: 30px;
    text-align: center;
}

#descriptif1 , #descriptif2 , #descriptif3 , #descriptif4 , #descriptif5 , #descriptif6 {
    font-size: 20px;
}

/* carrousel rosignol */

#rosignol {
    display: flex;
    margin: 0 auto;
    width: 1050px;
    margin-top: 75px;
    text-align: center;
}

#descriptif1 {
    flex: 0 0 50%;
    padding-right: 50px;
    padding-top: 120px;
    
}

.carrousel {
    border: solid 4px #FFF;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    overflow: hidden;
    width: 530px;
    height: 400px;
    flex: 0 0 50%;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#img1 {
    object-fit: cover;
}

/* maquette */

#maquette {
    display: flex;
    margin: 0 auto;
    width: 1050px;
    margin-top: 150px;
    text-align: center;
}

#descriptif2 {
    flex: 0 0 50%;
    padding-left: 50px;
    padding-top: 130px;
    
}

/* photoshop */

#photoshop {
    display: flex;
    margin: 0 auto;
    width: 1050px;
    margin-top: 150px;
    text-align: center;
}

#descriptif3 {
    flex: 0 0 50%;
    padding-right: 50px;
    padding-top: 230px;
}

/* halloween */

#halloween {
    display: flex;
    margin: 0 auto;
    width: 1050px;
    margin-top: 150px;
    text-align: center;
}

#descriptif4 {
    flex: 0 0 50%;
    padding-left: 50px;
    padding-top: 70px;
    
}
.carrousel2 {
    border: solid 4px #FFF;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    overflow: hidden;
    width: 420px;
    height: 298px;
}

.container2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#img3 {
    object-fit: cover;
}

/* resto pizza */

#pizza {
    display: flex;
    margin: 0 auto;
    width: 1050px;
    margin-top: 150px;
    text-align: center;
}

#descriptif5 {
    flex: 0 0 35%;
    padding-right: 50px;
    padding-top: 230px;
}

.carrousel3 {
    border: solid 4px #FFF;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    overflow: hidden;
    width: 600px;
    height: 600px;
}

.container3 {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#img5 {
    object-fit: cover;
}

/* projet video */

#projet-video {
    display: flex;
    margin: 0 auto;
    width: 1050px;
    margin-top: 150px;
    text-align: center;
}

#descriptif7 {
    flex: 0 0 35%;
    padding-right: 50px;
    padding-top: 150px;
}

/* carrousel portfolio */

#portfolio2 {
    margin-top: 150px;
    text-align: center;
}

#carrousel {
    width: 800px;
    height: 600px;
    border: solid 4px #FFF;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;

    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

#container {
    width: 800px;
    height: 600px;
}

.photo {
    width : 800px;
    height: 600px;
    margin: 0;
    display: inline-block;
    background-size: cover;
}

.bouton{
    position: absolute;
    width: 50px;
    cursor: pointer;
    top: 290px;
}

#g {
    left: 0px;
    transform: rotate(0deg);
}

#d {
    right: 0;
    transform: rotate(180deg);
}

#g:hover{
    left: 0px;
    transform: rotate(0deg) scale(1.2);
}

#d:hover {
    right: 0;
    transform: rotate(180deg) scale(1.2);
}

/* footer */

#footer {
    background-color: #000000;
    width: 100%;
    height: 110px;
    display: flex;
    text-align: center;
    margin-top: 25px;
}

#instagram {
    flex: 0 0 20%;
}

#footer-menu {
    flex: 0 0 30%;
}

#menu {
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding-left: 500px;
}

#logo {
    width: 30px;
    height: auto;
    padding-top: 40px;
}

#designoriane {
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding-left: 20px;

}